body {
	margin: 0;
}

/* Resume */

.resume-position {
	padding-bottom: 2em;
}

.job-title {
	font-weight: bold;
}

.job-short {
	font-style: italic; 
}

/* Content */

#profile {
	height: auto;
	width: 70%;
	padding: 2em;
	border: 1px;
}

.vertical-center {
	position: fixed;
	width:inherit;
    top: 45%;
}

.content {
	margin: 0 auto;
	overflow: hidden;
	max-width: 600px;
}

.left {
	float: left;
	width: 50%;
}

.right {
	float: right;
	width: 50%;
}

/* Site Title*/

.site-title {
	float: left;
	line-height: 2em;
}

.site-nav {
	float: right;
	line-height: 2em;
}

/* Source of :not(:first-child) - Ming's Style Page*/
.site-nav .page-link:not(:first-child) {
	margin-left: 20px;
}


#wrapper {
	/* Subtract the padding from 100% to get everything to*/
	/*width: calc(100% - 6em);*/
	width: 100%
}


#nav-bar {
	border-bottom: 1px solid grey;
}

/* Footer */

#footer {
	bottom: 5%;
	position: fixed;
	text-align: center;
	width: 100%;

}
#social-links img {
	margin-right: .5em;
}

#footer img {
	height: 1.5em;
}
